@model Hobby
<h1 class="split">Add an Hobby!</h1>
<a href="home" class="split"><button>Home</button></a>
<form asp-action="PostNewHobby" asp-controller="Home" method="post">
    <br>
    <span asp-validation-for="Name"></span>
    <br>
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <br>
    <span asp-validation-for="Description"></span>
    <br>
    <label asp-for="Description"></label>
    <input asp-for="Description">
    <br>

    <input value="Add Hobby" type="submit">
</form>